
.div1{
  color: blue;
  font-size: 2em;
  background-color: rgb(226, 241, 236);
  text-transform: capitalize;
  text-align: center;
  border: 2px blue solid;
  border-radius: 20px;
  width: 30vh;
  margin: 0 auto;
  margin-top: 40px;
}


.image{
  margin-top: 50px;
display: block;
margin-left: auto;
margin-right: auto;
width: 280px;
height: 180px;
border: 2px black solid;
}


#photosuite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mesphotos {
  width: 250px;
  height: 150px;
}
.mesH4{
  width: 90%;
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(223, 236, 236);
  border: 1px black solid;
  border-radius: 20px;
  color: blue;
  padding: 8px;
}
h2{
  float: left;
  color: blue;
  font-size:2em;
 margin-top: 50px;

}
h1 {
  text-align: center;
  padding: 10px;
  font-size: 2em;
  color:blue;
  border: 2px black solid;
  background-color: rgb(238, 243, 245);
  width: 400px;
  margin: 0% auto;
  margin-top: 30px;
  border-radius: 40px;
}

